


.cursor{

  z-index: 5678987;
  background: var(--Linear, linear-gradient(94deg, #5076D9 11.42%, #06FF97 89.58%));
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;



}