* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: Inter;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 200px; /* Set an appropriate height for your footer */
}

.footer-section {
    width: 80%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 20px; /* Add some padding for spacing */
}

.box3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; /* Add some padding for spacing */
}
.icon{
    margin: 10px;
    width: 30px;
    height: 30px;
}
.icon1{
    background-image: url("../assest/insta.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.icon2{
    background-image: url("../assest/Facebook.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.icon3{
    background-image: url("../assest/LinkedIn.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
