*{
  padding: 0;
  margin: 0;





}


/* top bar  */
.topbar{
  /* background-color: rgb(0, 0, 0); */
  background-color: black;
  /* overflow: hidden; */
  width: 100%;
  height:fit-content;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.topbar a {
  /* float: left; */
  color: white;
  text-align: center;
  padding: 14px 18px;
  font-size: 17px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  font-size: 50;



}
.togle{
 position: absolute;
  right: 20px;
 display: none;
 flex-direction: column;
 justify-content: space-between;
 width: 30px;
 height: 21px;
 

}


 .menu{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  margin: 0px 30px 0px 0px;

  


  
}
@media(max-width:972px){
  .img1{

    position: relative;
    margin-right: 500px;
  
  }
  .togle{
    display: flex;
  }
  .i{
    display: none;
  }

}

.img1{
  height: 32px;
  width: auto;
  position: relative;
  right: 100px;
  


 
}




@media(max-width:375px){
  .img1{

    position: relative;
    float: left;
    margin-left: 460px;
  
  }
  .togle{
    display: flex;
    margin-right: 30px;
  }
  .i{
    display: none;
  }

}

.img1{
  height: 28px;
  width: auto;
  position: relative;
  right: 100px;
 

 
}

