*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: rgb(0, 0, 0);
    
}
.topic{
    position: absolute;
    right: 600px;
    bottom: 800px;
    color: #FFFCFC;
   text-align: center;
   font-size: 48px;
   font-family: 'Inter', sans-serif;
   font-style: normal;
    font-weight: bolder;
    line-height: normal;

}
.sigin{

    height: 87vh;

}
.form1
{
    position: absolute;
    right:400px;
    bottom: 500px;



}
input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(69deg, #000 -24.37%, #292C64 52.21%, rgba(18, 94, 67, 0.65) 95.97%, #202255 161.6%, #000 209.01%);
    border-radius: 70px;
    width: 400px;
    height: 51px;
    border: none;



}

.pas{
    padding-left: 50px;
}
.use{
    padding-left: 50px;
}

button{
    color: aqua;

    width: 394px;
    height: 67px;
    
    border-radius: 70px;
    z-index: 670579575;
    

}