*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: rgb(0, 0, 0);

    
}

body{
    background-color: rgb(0, 0, 0);
    
}
.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.left{
 height:100%;
 flex: 2;
 border: 2px solid rgb(0, 0, 0);
 background-image:url('../assest/signup.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;

}
.right{
    height: 100%;
    border: 2px solid rgb(0, 0, 0);
    flex: 2;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
    position:relative;
    bottom:30px;
    
    


}
.main
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding-top: 50%;
    
    text-align: center;
    font-family: Inter;
    font-size: px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    

}
.name input{
    border: none;
    outline: none;
    border-radius: 30px;
    width: 300px;
    background-image:url('../assest/signup.jpg');
    
    font-weight:bolder ;
    
    height: 40px;
    flex-shrink: 0;
    padding-left: 10%;
    color: black;
}

.email input
{
  
    border: none;
    outline: none;
    border-radius: 30px;
    width: 300px;
    background-image:url('../assest/signup.jpg');
    font-weight:bolder ;
    height: 40px;
    flex-shrink: 0;
    padding-left: 10%;
    border:none;
    color: black
}
.pwd input
{
    
    border: none;
    outline: none;
    border-radius: 30px;
    width: 300px;
    background-image:url('../assest/signup.jpg');    
    font-weight:bolder ;
    width: 300px;
    height: 40px;
    flex-shrink: 0;
    padding-left: 10%;
    border:none;
    color: black
}
.confirm-pwd input{
    border: none;
    outline: none;
    border-radius: 30px;
    
    background-image:url('../assest/signup.jpg');
    font-weight:bolder ;
    width: 300px;
    height: 40px;
    flex-shrink: 0;
    padding-left: 10%;
    color: black

}
.icons {
    display: flex; /* Use flexbox */
    justify-content:center; /* Distribute icons evenly */
    align-items: center; /* Vertically center icons */
}
.icon
 {

    width: 48px; 
    height: 48px;
    background-size: cover;
    margin: 10px; 
}

#facebook {
    background-image: url('../assest/Facebook.png'); 
}

#email {
    
}

#apple {
    background-image: url('../assest/Apple.png'); 
}

.done
{
    width: 142px;
    height: 39px;
    flex-shrink: 0;
    color: #FFF8F8;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.done button

    {
        position:relative;
        top:30px;
        border:none;
        width: 200px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 89px;
        background-image:url('../assest/signup.jpg');
        font-size:18px;
        font-weight: bold;
        left: 65px;
        

          
          
      
      }
.noacc
{
    font-size: 13px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}
