*{
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    background-color: #000000;
   width: 10px;
   
   
   
   }
   ::-webkit-scrollbar-track{
   
     margin-block: 120px;
     padding: 3;
   
   }
   ::-webkit-scrollbar-thumb{
   
     background:  var(--Linear, linear-gradient(94deg, #5076D9 11.42%, #06FF97 89.58%));
     border-radius: 60px;
   
   }
   
   


body{
  
    /* background-color: black; */


background: linear-gradient(69deg, #000 -24.37%, #292C64 52.21%, rgba(18, 94, 67, 0.65) 95.97%, #202255 161.6%, #000 209.01%);

background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}
.parent1{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top: 60px; 
}
.parent2{
    display:flex;
       justify-content:space-evenly;
       align-items: center;
}
.parent3{
    display:flex;
       justify-content:center;
       align-items: center;

}
.button1{
    width: 275px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 28px;
    
    text-decoration: none;
    
    box-shadow: 0px 4px 50px 8px rgba(0, 0, 0, 0.25) inset;
    
    transition: 0.5s;
    display: flex;
}
.button2{
    width: 300px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 30px;
    
    background: rgba(0, 0, 0, 0.98);
    box-shadow: 0px 4px 50px 8px rgba(0, 0, 0, 0.25) inset;
    
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    
    
    
}
.button3{
    width: 275px;
    height: 400px;
    flex-shrink: 0;
    fill: #FFF;
    stroke-width: 1px;
    stroke: #000;
    text-decoration: none;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 30px;
    transition: 0.5s;
    display: flex;

    
}
ul{
    width: 220.587px;
height: 38.46px;
flex-shrink: 0;
color: #FFF;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 30px;
padding-left: 30px  ;
}
span{
    width: 179.548px;
height: 22.144px;
flex-shrink: 0;
color: #FFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Inter;
font-size: 27px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 50px;
}
.button3:hover{ transform: translateY(-10px);}
.button1:hover{transform: translateY(-10px);}
.button2:hover{transform: translateY(-10px);}
.t1{width: 342px;
    height: 100px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 65px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
text-align: center;
padding-top: 50px;
}
    .t2{
        color: #FFF;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: center;
padding-top: 50px;
position: relative;




    }
    

    .t3{
        color: #FFF;
font-family: Inter;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-top: 50px;
    }
    h1{
        color: #FFF;
text-align: center;
font-family: Inter;
font-size: 35px;
font-style: normal;
font-weight: 600;


    }
    hr{
        font-weight: 400;
        height: 3px;
        fill: #FFF;
        background-color: #FFF;
    }
    @media(max-width:768px){
        body{
            background-repeat: no-repeat;
            background-size: cover;
            height: max-content;
        }
        
        .parent1{flex-direction: column;
        justify-content: space-between;}
        .parent2{flex-direction: column;}
        .parent3{
            
            flex-direction: column;
        }
        .button2{width: 275px;
            height: 400px;
            display: flex;
            flex-direction: column;
            position: relative;
            margin-top: 30px;
            
        }
        .parent2{justify-content: space-evenly;}
    .button2{flex-direction: column;
    justify-content: flex-start;
}
.l1{display: none;}
.button3{position: relative;
margin-top: 30px;}


        
} 
        




    

    
